.shipping__list_item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px !important;
}

.shipping_method_address {
  display: block;
  font-weight: normal;
  margin-top: 10px;
}

/* Hide radio button toggle */
[type="radio"] {
  z-index: -1;
  position: absolute;
  opacity: 0;
}

/* Box label radio option */
[type="radio"] ~ label {
	 position: relative;
	 display: grid;
	 align-items: center;
	 grid-template-columns: 20px auto 100px;
	 grid-gap: 20px;
	 width: 320px;
	 height: 62px;
	 padding: 10px 10px;
	 border-radius: 6px;
	 border: 1.2px solid transparent;
	 background-color: transparent;
	 transition: all 300ms ease-in;
   box-shadow: 0px 1px 2px 1px #ccc;
}

/* When mouse over - Box label radio option */
[type="radio"] ~ label:hover {
  border-color: gray;
  background-color: rgba(7, 154, 34, 0.16);
}

/* Selected - Box label radio option */
[type="radio"]:checked ~ label {
  color: black;
  border-color: #009739;
  background-color: rgba(#009739, 0.16);
}
